:root {
  --font-small: 2rem;
  --font-medium: 3rem;
  --font-large: 6rem;
  --font-xl: 7rem;

  /*Spacing*/
  --space-sm: 24px;
  --space-md: 48px;
  --space-lg: 60px;
}


.maxWidthContainer {
  width: 1280px;
  height: 100%;
  position: relative;
}

h1 {
  font-size: var(--font-xl)
}

h2 {
  font-size: var(--font-large)
}

h3 {
  font-size: var(--font-medium)
}

h4 {
  font-size: var(--font-small)
}

a {
  text-decoration: none;
  color: inherit;
  
}