.HomePageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .TitleContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Name {
      margin-bottom: var(--space-lg);
    }
  }

  .ScrollDownContainer {
    height: min-content;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--space-md);

    .Caret {
      transform: rotate(180deg);
      text-align: center;
      font-size: var(--font-medium);
      margin-top: var(--space-sm);
    }
  }
}
